#result {
  width: 95vw;
  margin: 10px auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.line {
  display: flex;
  flex-flow: row nowrap;
}

.block {
  min-width: 40px;
  height: 40px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
  line-height: 40px;
}

.line:nth-last-child(1) .block {
  border-bottom: 2px solid black;
}

.empty {
  background: #6063c5;
}

.limiter {
  background: #30336b;
}

.other {
  background: #dff9fb;
}

.note {
  background: #7ed6df;
}

.error {
  font-size: 5em;
  color: rgb(240, 75, 75);
  padding-top: 30px;
}

.display-result-enter {
  opacity: 0.01;
  transform: translateX(-300%);
  position: absolute;
}

.display-result-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  position: absolute;
}

.display-result-exit {
  opacity: 1;
  transform: translateX(0);
  position: absolute;
}

.display-result-exit-active {
  opacity: 0.01;
  transform: translateX(-300%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  position: absolute;
}

@media (max-width: 768px) {
  .error {
    font-size: 2em;
  }
}
