.header-wrapper {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: #30336b;
}

.header-child {
  display: block;
  height: 100%;
  line-height: 53px;
  color: #ddd;
}

.header-howto {
  cursor: pointer;
  width: 20%;
}

.header-main {
  cursor: default;
  padding: 15px 10px;
  border-left: 3px dotted #686de0;
  border-right: 3px dotted #686de0;
  width: 60%;
  line-height: 70px;
}

.header-contact {
  cursor: pointer;
  width: 20%;
}

.header-contact h3 {
  margin-bottom: 17px;
}

/* CONTACT MENU */

.contact-menu {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  width: 20vw;
  padding-top: 1px;
  transition: display 300ms ease-out;
}

.header-contact:hover .contact-menu {
  display: block;
}

.contact-item {
  display: block;
}

.contact-link {
  display: block;
  background: #6063c5;
  width: 20vw;
  color: #ddd;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  padding: 4px 20px;
  box-sizing: border-box;
  transition: border-left 200ms ease-in;
  font-size: 22px;
}

.contact-link:hover {
  border-left: 20px solid #eee;
  background: #3c3e6e;
}

.contact-username {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .header-wrapper {
    height: 70px;
  }

  .header-child {
    line-height: 37px;
  }

  .header-main {
    width: 50%;
  }

  .header-howto,
  .header-contact {
    width: 25%;
  }

  /* RESPONSIVE CONTACT MENU */

  .header-contact h3 {
    margin-bottom: 8px;
  }

  .contact-menu {
    width: 25vw;
  }

  .contact-link {
    width: 25vw;
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .contact-link {
    font-size: 15px;
  }

  .contact-link:hover {
    border-width: 8px;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  .header-wrapper {
    height: 40px;
  }

  .header-child {
    line-height: 20px;
  }

  .header-main {
    line-height: 15px;
  }

  .header-contact h3 {
    margin-bottom: 5px;
  }

  .contact-link:hover {
    border-width: 10px;
  }

  .contact-link {
    font-size: 9px;
  }
}

@media (min-width: 1200px) {
  .contact-link {
    font-size: 1.5vmax;
  }

  .contact-link:hover {
    border-width: 1.5vmax;
  }
  .contact-username {
    display: inline;
  }
}
