/* SOME BASIC CSS */

h2 {
  font-size: 2.5em;
}

textarea {
  margin-top: 20px;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  overflow: scroll;
  width: 80vw;
  background: #232729;
  color: #f1f1f1;
}

h3.random-header {
  margin: 10px auto 0;
}

.generate-tab {
  color: #6063c5;
  cursor: pointer;
  font-size: 120%;
}

label,
.form-line {
  display: inline;
  margin-right: 25px;
  font-size: 25px;
}

input,
select {
  font-size: 20px;
  display: inline-block;
}

input[type='checkbox'] {
  margin-left: 10px;
}

.form-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.config-form {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.form-line {
  cursor: default;
}

#capoLocation {
  margin-left: 15px;
  margin-right: 30px;
  width: 116px;
}

#submitBtn {
  width: 200px;
  height: 60px;
  margin: 20px auto 10px;
  border: 2px solid #dff9fb;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  background: #6063c5;
  color: #dff9fb;

  transition: color 300ms ease-in, background 250ms ease-in-out, border-color 250ms ease-out;
  cursor: pointer;
}

#submitBtn:hover {
  color: #6063c5;
  background: #dff9fb;
  border-color: #6063c5;
}

/* CSSTransitionGroup settings */

.display-btn-enter {
  transform: translateY(-20px) scale(0.1);
  opacity: 0.1;
}

.display-btn-enter-active {
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: all 400ms ease-out;
}

.display-btn-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.display-btn-exit-active {
  transform: rotate(180deg) translateY(-50px) scale(0.2);
  opacity: 0.01;
  margin: 0;
  transition: all 200ms ease-in;
}

.display-config-enter {
  transform: translateX(-100%);
}

.display-config-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}

.display-config-exit {
  transform: translateX(0);
  position: relative;
}

.display-config-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
  position: relative;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .config-form {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-self: center;
    padding: 5px;
  }

  .config-form .form-line {
    margin: 5px;
    align-self: flex-start;
  }

  h3.random-header {
    font-size: 1.5em;
  }
}

/*! CUSTOM CHECKBOX */

.checkbox-container {
  display: inline-block;
  position: relative;
  user-select: none;
  padding-right: 10px;
}

.checkbox-container input {
  position: absolute;
  left: 45px;
  opacity: 0;
  height: 25px;
  width: 25px;
  margin-left: 20px;
}

.checkmark {
  position: absolute;
  top: 0;
  z-index: -1;
  margin-left: 10px;
  height: 28px;
  width: 28px;
  background-color: #ccc;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #aaa;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #686de0;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
