.page-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(15, 15, 15, 0.7);
}

.instructions-wrapper {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.nav-arrow {
  width: 15%;
  color: #eee;
  background-color: rgba(37, 51, 172, 0.4);
  text-align: center;
  font-size: 5vmax;
  cursor: pointer;
}

.nav-arrow i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.instructions-slider {
  position: relative;
  z-index: -1;
  height: 60vh;
  width: 70%;
}

.instructions-slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  transition: transform 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.instruction-container {
  min-width: 100%;
  height: 100%;
  background: #eee;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;

  opacity: 0;
  transform: scale(0.8) translateY(50px);
  transition: transform 400ms cubic-bezier(0.65, 0.05, 0.36, 1),
    opacity 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.instruction-container.active {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.image-container {
  max-height: 70%;
  height: 70%;
  display: flex;
}

.instruction-image {
  margin: auto; /* important to make it centered */
  max-height: 95%;
  object-fit: scale-down; /*! important to make it fit the given area */
}

.instruction-text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 30%;
  width: 100%;
  background-color: #ccc;
  padding: 5px 20px;
}

.instruction-text {
  height: fit-content;
  font-size: 2.3vmax;
  text-align: justify;
}

/* CSSTransition Group Config */

.instructions-enter {
  transform: translateY(-100%);
  background-color: rgba(25, 25, 125, 0.7);
  opacity: 0.01;
}

.instructions-enter-active {
  transform: translateY(0);
  background-color: rgba(15, 15, 15, 0.7);
  opacity: 1;
  transition: transform 500ms ease-out, background-color 500ms ease-out,
    opacity 500ms ease-in;
}

.instructions-exit {
  transform: translateY(0);
  opacity: 1;
}

.instructions-exit-active {
  transform: translateY(-100%);
  background-color: rgba(15, 15, 15, 0.7);
  opacity: 0.4;
  transition: transform 500ms cubic-bezier(0.55, 0.09, 0.68, 0.53),
    opacity 500ms ease-out;
}

@media (max-width: 768px) {
  .nav-arrow {
    font-size: 7vmin;
  }

  .instruction-image {
    width: 90%;
    height: initial;
    min-height: initial;
    max-height: 95%;
  }

  .instruction-text-container {
    height: 35%;
  }

  .instruction-text {
    margin: 0;
    font-size: 3.7vmin;
  }
}
