@import url('https://fonts.googleapis.com/css?family=Neucha');

h1,
h2 {
  margin: 0 auto;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
  font-family: 'Neucha', cursive;
}

body {
  /*! body is ancestor of sticky menu which requires its ancestor to be positioned relatively, so it would work all the time  */
  position: relative;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.result-enter {
  transform: scale(0.1);
}

.result-enter-active {
  transform: scale(1);
  transition: transform 300ms ease-out;
}
